.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header, .footer {
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  max-width: 980px;
  margin: 0 auto;
}
.content .box {
  width: 25%;
}

.joke-btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  background-color: #c7c7c7;
  border: 0;
}

.joke-btn::after {
  content: "One More...";
  font-size: 1.2rem;
}

@media (max-width: 500px) {
    .content {
    display: grid;
    -ms-display: grid;
  }

  .content .left.box {
    order: 2;
  }

  .content .middle.box {
    order: 1;
  }

  .content .right.box {
    order: 3;
  }

  .content .box, .content .middle.box {
    width: 100%;
    margin: 0 0 10px 0;
  }
}




