.middle.box {
  width: 45%;
}

.middle h2 {
  border: 1px solid #000;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle p {
  border: 1px solid #000;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px 20px;
}