.riddle-answer-box {
  height: 25px;
  width: 100%;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #222222;
  text-align: center;
  line-height: 23px;
}

.riddle-answer-box::after {
  content: "Hover for answer!";
}

.riddle-answer-box:hover + .riddle-answer {
  display: block;
  transition: 300ms ease all;
}

.riddle-answer {
  display: none;
  transition: 300ms ease all;
}