.right h3 {
    filter: drop-shadow(0 0 5px #ff9900);
    -webkit-filter: drop-shadow(0 0 5px #ff9900);
    text-shadow: 1px 1px 0px #ffffff;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.right.box {
  /* border-radius: 20px 0 0 20px; */
  border-right: 10px solid #222222;
}

.riddle-answer-box {
  height: auto;
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid #222222;
  text-align: center;
  line-height: 23px;
}

.riddle-answer-box::after {
  content: "Hover for answer!";
}

.riddle-answer-box:hover + .riddle-answer {
  display: block;
}

.riddle-answer {
  display: none;
}